html,body{
        

            
  height: 80%;
}

section{
  box-shadow: 6px 20px 10px black;
}


a, a:focus, a:hover, a:active, a:visited {
  color: inherit;
  text-decoration: none;
}
section{
  box-shadow: 6px 20px 10px black;
}

.Link {
  filter: drop-shadow(0 1em 1em rgba(#000, .16));
  font-size: 1rem;
  max-width: 25em;
  padding: 2em 2.4em;
  position: relative;
  transform: translateZ(0);
}

.Link::before,
.Link::after {
  background-color: #fff;
  border-radius: 3px;
  content: ' ';
  display: block;
  position: absolute;
  transform-origin: right;
  transition: transform 500ms;
  width: 100%; height: 100%;
  top: 0; left: 0;
  z-index: -1;
}

.Link::after {
  background-color: rgb(190, 220, 245);
  transform: scaleX(40);
  transition-duration: 450ms;
}
section{
  box-shadow: 6px 20px 10px black;
}

.Link-title {
  background-image:
    linear-gradient(0deg, #ddd, #000),
    linear-gradient(0deg, #fff, #fff),
  ;
  background-size: 0 2px, 0 100%;
  background-position: 8px calc(1em + 8px), 0 0;
  background-repeat: no-repeat;
  box-decoration-break: clone;
  display: inline;
  font-size: 30px;
  font-weight: 300;
  padding: 6px 8px;
  margin-left: -8px;
  pointer-events: none;
  line-height: 1.75; 
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff;
  transition: background ease-out 500ms;
}

.Link:hover > .Link-title {
  background-size: calc(100% - 16px) 2px, 100% 100%;
  transition-duration: 200ms;
}

.Link:hover::before {
  transform: scaleX(0);
  transition-duration: 450ms;
  transition-timing-function: ease-in-out;
}

.Link:hover::after {
  transform:  scaleX(1);
  transition-duration: 700ms;
  transition-timing-function: ease-in-out;
  transform-origin: left;
}




       
       


            
h1{
        
    margin-top: 20px;
    padding: 50px;
    background:rgba(236, 23, 148, 0.966);
    background-size: 10%;
    border-radius: 25px;  
    font-size: 100px;
    color:rgba(115, 247, 38, 0.973);  
    margin-right: 20;
    -moz-border-radius:60px ;
    -webkit-border-radius:60px;
    -border-radius:40px ;

    -moz-box-shadow: rgb(150,150.150) 5px 5px 15px inset;
    -webkit-box-shadow: rgb(150,150.150) 5px 5px 15px inset;
    -box-shadow : rgb(150,150.150) 5px 5px 15px inset;


background: -webkit-linear-gradient(top, #13C768,  #D74412);
background: -moz-linear-gradient(top, #13C768,  #D74412);
   }
#titulo{
font:bold 36px verdana, sans-serif;
text-shadow: rgb(0,0,150) 3px 3px 6px;
#section{
    box-shadow: 7px 9px 15px black inset;
 }
   
  
}

   section{
    box-shadow: 7px 9px 15px black inset;
 }
   
   


h2{
         font-size: 20px;
         line-height: 0px;
         padding: 0px 0;
         text-align:justify;
         color:rgba(0, 0, 0, 0.651);  
         line-height: 5px; 
         padding-bottom: 10px; 
         font: 15px/35px Helvetica, Arial, sans-serif;
         margin-top: 5px;
}

h3{
         font-size: 10px;
         margin-top:6px;
         line-height: 15px;
         border-radius: 25px;  
         padding: 40px 0PX;
         background:rgba(156, 174, 207, 0.966);
         color:rgba(248, 216, 209, 0.979 241);   
         text-align:center;

  -moz-border-radius:60px ;
    -webkit-border-radius:60px;
    -border-radius:60px ;

    -moz-box-shadow: rgb(150,150.150) 5px 5px 15px inset;
    -webkit-box-shadow: rgb(150,150.150) 5px 5px 15px inset;
    -box-shadow : rgb(150,150.150) 5px 5px 15px inset;


background: -webkit-linear-gradient(top, #13C768, #eeeeee);
background: -moz-linear-gradient(top, #13C768,#eeeeee);
   }
#titulo{
font:bold 36px verdana, sans-serif;
text-shadow: rgb(0,0,150) 3px 3px 6px;
}

}        
         
h5{
        
        padding: 20px;
        background:rgba(159, 233, 62, 0.966);
        background-size: 50%;
        border-radius: 25px;  
        font-size:50px;
        line-height: 20px;  
        margin-top: 45px;
        left: 50;
}

h6{
        font-size: 40px;
        line-height: 0px;
        padding: 15px 15px;
        color:rgb(231, 101, 26);   
        text-align:center;
        line-height: 50px;   
        background:rgba(248, 247, 247, 0.966);

 -moz-border-radius:60px ;
    -webkit-border-radius:60px;
    -border-radius:60px ;
    -moz-box-shadow: rgb(150,150.150) 5px 5px 15px inset;
    -webkit-box-shadow: rgb(150,150.150) 5px 5px 15px inset;
    -box-shadow : rgb(150,150.150) 5px 5px 15px inset;

background: -webkit-linear-gradient(60deg, #13C768, #ffffff);
background: -moz-linear-gradient(60deg, #13C768, #ffffff);
#titulo{
font:bold 36px verdana, sans-serif;
text-shadow: rgb(0,0,150) 3px 3px 6px;


}
        


p   { 
  padding-bottom: 50px;
    
  section{
    box-shadow: 0px 0px 30px blue;
 }

        
nav  {
        
        left: 0;
        width: 90%;
        background: url("nav background");
        position: relative;
        margin-top:5px;
        height: 40px;
        padding: 5px 45px;
        clear: inherit;
        background:rgb(129, 231, 12);
        text-align:left;
        color:rgb(39, 37, 37);
  
nav ul {
         margin: 0 auto;
        width: 940px;
        list-style: none;
}
nav ul li {
         float: left;
}
nav ul li a {
         display: block;
         margin-right: 20px;
         width: 140px;
         font-size: 20px;
         line-height: 44px;
         text-align: center;
         text-decoration: none;
         color:rgba(31, 26, 26, 0.966); 

nav ul li a:hover {
        color:rgb(255, 253, 253);
        
 }


nav ul li.selected a {
         color:rgb(105, 8, 8);
}
nav ul li.subscribe a {
         margin-left: 12px;
         padding-left: 13px;
         text-align: left;
         background: url(“rss.png”) right center no-repeat;

}
#intro {
         margin-top: 5px;
         padding: 0px;
         background:rgb(228, 228, 224) url(“intro_background.png”) repeat-x;
         background-size:7%;
         border-radius: 5px;
}
#intro h2, #intro p{
         width:10px;
}
#intro h2 p{
         padding: 0 0 5px 0;
         font-weight:lighter                       
}
#intro p {
         padding: 0;
         color:rgb(166, 51, 189);
}
#content {
         display: block;
}
#mainContent {
         display: table-cell;
         width: 620px;
         padding-right: 22px;
}
aside {
    margin:10 initial;
    float: right;
    border:10px solid rgba(112, 16, 150, 0.226);
    width: 30%;
    display: block;
    margin-left: 10px;
    width: 80px;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    color:rgb(116, 11, 11);   
}

.sociales li{
display: inline-block;
}


  footer{
    position: relative;
    margin-top:-50px;
    height: 40px;
    padding: 20px 0px;
    clear: both;
    background:rgb(14, 209, 112);
    text-align: center;
    color:rgb(42, 218, 94);
  }                        




  

